.movies_main {
    margin-bottom: 50px;
}

.movies_content {
    text-align           : center;
    display              : grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap           : 50px;
    row-gap              : 40px;
    margin-bottom        : 50px;



}

/* .movies_wrap {
    height: 250px;
    width : 180px;

} */


.movies_wrap img {
    border-radius  : 10px;
    height         : 100%;
    width          : 100%;
    object-fit     : cover;
    object-position: top;
    border         : 3px solid rgba(249, 249, 249, 0.1);
    box-shadow     : 0px 26px 30px -10px black,
        0px 26px 30px -10px black;
    transition: transform 250ms 150ms ease-in;
}

.movies_wrap:hover img {
    cursor      : pointer;
    transform   : scale(1.09);
    border-color: rgba(249, 249, 249, 0.7);
}


@media(max-width : 800px) {
    .movies_content {
        grid-template-columns: repeat(3, 1fr);
        column-gap           : 30px;
    }

    .movies_wrap img {
        width: 100%;
    }

    /* .movies_wrap {
        height: 25vh;
        width : 25vw;

    } */
}