.SignupComponent_main {
    background-color: rgba(38, 31, 87, 0.322);
    backdrop-filter : blur(3px);
    padding         : 20px;
    border-radius   : 20px;
    margin          : 10px;
}

.singup_form {
    width          : 280px;
    height         : 400px;
    display        : flex;
    flex-direction : column;
    text-align     : left;
    justify-content: space-around;
}

.singup_form>input {
    height: 35px;
}

.btn {
    color           : white;
    cursor          : pointer;
    width           : 100%;
    background-color: #0063e5;
    font-weight     : bold;
    padding         : 15px;
    border-radius   : 4px;
    letter-spacing  : 2px;
}

.btn:active {
    background-color: #0352b9;
}


.login_redirect {
    cursor: pointer;
}